name: CI

on:
  push:
    branches: [ main ]
    tags:
  pull_request:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        include:

          - os: ubuntu-latest
            run: native
            target: x86_64-linux
            backend: epoll

          - os: ubuntu-latest
            run: native
            target: x86_64-linux
            backend: poll

          - os: ubuntu-latest
            target: aarch64-linux
            run: qemu
            qemu_binary: qemu-aarch64-static

          - os: ubuntu-latest
            target: riscv64-linux
            run: qemu
            qemu_binary: qemu-riscv64-static

          - os: macos-latest
            target: native
            run: native

          - os: windows-latest
            target: native
            run: native

    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Zig
      uses: mlugg/setup-zig@v2
      with:
        version: 0.15.2

    - name: Build
      run: >
        zig build -Dinstall-tests
        ${{ matrix.backend && format('-Dbackend={0}', matrix.backend) || '' }}
        ${{ matrix.target != 'native' && format('-Dtarget={0}', matrix.target) || '' }}
      timeout-minutes: 5

    - name: Run tests (native)
      if: matrix.run == 'native'
      run: ./zig-out/bin/test
      timeout-minutes: 5

    - name: Install QEMU
      if: matrix.run == 'qemu'
      run: |
        sudo apt-get update -q -y
        sudo apt-get install -q -y qemu-user-static

    - name: Run tests (QEMU)
      if: matrix.run == 'qemu'
      run: ${{ matrix.qemu_binary }} ./zig-out/bin/test
      timeout-minutes: 10

  test-freebsd:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run tests in FreeBSD VM
      uses: vmactions/freebsd-vm@v1
      with:
        release: '14.2'
        usesh: true
        prepare: |
          pkg install -y curl
        run: |
          # Download Zig
          curl -L https://ziglang.org/download/0.15.2/zig-freebsd-x86_64-0.15.2.tar.xz -o zig.tar.xz
          tar xf zig.tar.xz
          export PATH="$PWD/zig-freebsd-x86_64-0.15.2:$PATH"

          # Build and test
          zig build -Dinstall-tests
          ./zig-out/bin/test

  test-netbsd:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Run tests in NetBSD VM
      uses: vmactions/netbsd-vm@v1
      with:
        release: '10.1'
        usesh: true
        prepare: |
          /usr/sbin/pkg_add curl
        run: |
          # Download Zig
          curl -L https://ziglang.org/download/0.15.2/zig-netbsd-x86_64-0.15.2.tar.xz -o zig.tar.xz
          tar xf zig.tar.xz
          export PATH="$PWD/zig-netbsd-x86_64-0.15.2:$PATH"

          # Build and test
          zig build -Dinstall-tests
          ./zig-out/bin/test
